* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a{
  margin: 0px 0px  25px 25px;
  font-size: 20px;
}

.logoheader{display: flex;
            align-items: center;}
.logoheader img{
  max-width: 100px;
}

.login-wrapper{
  align-items: center;
  display: flex;
}

.login{
  display: flex;
  flex-direction: column;
}
.icon {
  margin: 5px 5px 0px 0px;
}


